<div id="content">
	<div id="header" class="clearfix">
				
		<div id="top-navigation">
			<ul class="navigation_list">
					<li>
						<%= link_to "Home", :action => "index" %> 
					</li>
					<li>
						Settings
					</li>
					<li>
						<%= fb_logout_link "Sign Out", "signin" %>
					</li>
			</ul>				
		</div>
		
		
		<div id="logo">
			<%= link_to (image_tag "logo.png"), :action => "index" %>
		</div>
	</div>
	
	
	<div class="main wrapper">
	
	
		<div id="user" style="padding: 10px">
			<%= render :partial => "/users/friend.html.erb", :locals => {:friend => @profile_user}%>
		</div>
	</div>
        <% if @show_follow_button then %>
          <div>
            <% form_tag(hb_followee_path, :method => @follows ? "delete" : "put") do %>
              <%= submit_tag(@follows ? "unfollow" : "follow") %>
            <% end %>
          </div>
        <% end %>

        <div class="container_playlist_suggestions">
				
				<div class="following">
					<h2>Following</h2>

          <%= render :partial => "home/friends_list" %>
        </div>
</div>
