<div id="content">
	<div id="header" class="clearfix">
		<div id="top_links">
			<%= link_to "Home", :action => "index" %> | 
			<%= link_to "Help", :action => "help" %> | 
			<%= fb_name facebook_session.user.uid, :useyou => "false" %> | 
			<%= fb_logout_link "Sign Out", "signin" %> | 
		</div>
		<div id="logo">
			<%= image_tag "logo.png" %>
		</div>
	</div>
	<br/>
	<div class="sep" id="images"> 
		    <h2>Images</h2> 
		   
			<a rel="aaaa" id="example1-1" title="Maecenas eros massa" href="http://farm4.static.flickr.com/3498/4006876523_289a8296ee.jpg"><img id="biude" alt="" src="http://farm4.static.flickr.com/3498/4006876523_289a8296ee_m.jpg" /></a> 
			<a rel="aaaa" id="example1-2" title="Lorem ipsum dolor sit amet" href="http://farm4.static.flickr.com/3068/3096463741_67b9979fd4.jpg"><img alt="" src="http://farm4.static.flickr.com/3068/3096463741_67b9979fd4_m.jpg" /></a> 
			<a rel="aaaa" id="example1-3" title="Maecenas eros massa, pulvinar et sagittis adipiscing, molestie et arcu" href="http://farm3.static.flickr.com/2642/4003912116_389c3891cf.jpg"><img alt="" src="http://farm3.static.flickr.com/2642/4003912116_389c3891cf_m.jpg" /></a> 
 
			<select style="margin-left:300px"> 
			    <option>dgdfg</option> 
			    <option>dgdfg</option> 
			    <option>dgdfg</option> 
			</select> 
			<p>(ps, try using mouse scroll wheel)</p> 
			 
			<a rel="group1" id="example2-1" title="" href="http://farm4.static.flickr.com/3460/3793633187_44790d1f0a_o.jpg"><img alt="" src="http://farm4.static.flickr.com/3460/3793633187_f56bb1bf99_m.jpg" /></a> 
			<a rel="group1" id="example2-2" title="Maecenas eros massa, pulvinar et sagittis adipiscing, molestie et arcu" href="http://farm4.static.flickr.com/3456/3793633099_3e1e53e4ac_o.jpg"><img alt="" src="http://farm4.static.flickr.com/3456/3793633099_4f9c3e08b3_m.jpg" /></a> 
 
		</div> 
		
		<div class="sep"> 
		    <h2>Various</h2> 
		    
		    <a href="javascript:;" onclick="$.fancybox.resize( Math.random() * 1000, Math.random() * 1000 );return false;">Resize</a> 
		    
			<ul> 
			    <li> 
					<a href="#inline1" class="zoom1" title="Custom title">Inline #1 </a> - defaults
				</li> 
				<li> 
					<a href="#inline2" class="zoom2" title="Custom title">Inline #2 </a> - auto detect width/height
				</li> 
				<li> 
					<a href="#inline3" class="zoom3">Inline #3 </a> - 100% width and height
				</li> 
				<li> 
					<a href="#inline4" class="zoom4">Inline #4 </a> - modal
				</li> 
				<li> 
					<a href="#testube" class="zoom2">Testube</a> <a class="zoom2" href="http://www.adobe.com/jp/events/cs3_web_edition_tour/swfs/perform.swf">flash</a> 
				</li> 
				<li> 
					<a href="#login_form" id="custom4">Login form</a>  - code snippet for login box
				</li> 
				<li> 
					<a href="javascript:;" id="custom1">Custom object</a> 
				</li> 
				<li> 
					<a href="javascript:;" id="manual1">Manual1</a> 
					<a href="javascript:;" id="manual2">Manual2</a> 
					<a href="javascript:;" id="manual3">Manual3</a> 
					<a href="javascript:;" id="manual4">Manual4</a> 
					<a href="javascript:;" id="manual5">Manual5</a> 
				</li> 
				<li> 
					<button id="aaa">Passing array of objects</button> 
				</li> 
			</ul> 
			
		</div> 

</div>
