<div id="content">
	<div id="header" class="clearfix">
		<div id="top_links">
			<%= link_to "Home", :action => "index" %> | 
			<%= link_to "Help", :action => "help" %> | 
			<%= fb_name facebook_session.user.uid, :useyou => "false" %> | 
			<%= fb_logout_link "Sign Out", "signin" %> | 
		</div>
		<div id="logo">
			<%= image_tag "logo.png" %>
		</div>
	</div>
	<br/>
	<a id="inline" href="#data">
		<img src="spotifyscreen.png">

		</a>
</div>
