<div id="content">
	<div id="header" class="clearfix">
		<div id="top_links">
			<%= link_to "Home", :action => "index" %> | 
			<%= link_to "Help", :action => "help" %> | 
			<%= fb_name facebook_session.user.uid, :useyou => "false" %> | 
			<%= fb_logout_link "Sign Out", "signin" %> | 
		</div>
		<div id="logo">
			<%= image_tag "logo.png" %>
		</div>
	</div>
	<br/>
	<a id="inline" href="#data">
		<!-- ADD PLAYLIST -->
		<div id="headline">Copy and paste your Spotify playlist:</div>
		<div id="round_top">
		<div id="new_playlist" class="clearfix">
			<div id="input_border">
				<div id="input_shaddow">
					<div id="input" contenteditable="true">
					</div>
				</div>
			</div>

			<% form_for :playlist, @new_playlist, :url => playlists_url, :html => {:id => "new_playlist_form"} do |f| %>
	      <%= f.hidden_field :url %>
	      <%= submit_tag 'Add Playlist', :onclick => "submitPlaylist();return false;" %>
	    <% end %>

			<script>
				function submitPlaylist (){
					$("playlist_url").value = $("input").innerHTML;
					$("new_playlist_form").submit();
				}
			</script>

		</div>
		</div>
		<div id="round_bottom"></div>
		</a>
</div>
