<div id="content">
	<div id="header" class="clearfix">
		<div id="top_links">
			<%= h facebook_session.user.name %> <%= fb_logout_link "Sign Out", "signin" %>
		</div>
		<div id="logo">
			<%= image_tag "logo.png" %>
		</div>
	</div>
	
	<!-- ADD PLAYLIST -->
	<div id="new_playlist" class="clearfix">
		<% form_for :playlist, @new_playlist, :url => playlists_url do |f| %>
      <%= f.text_field :url %>
      <%= submit_tag 'Add Playlist' %>
    <% end %>
	</div>

	<!-- SHOW PLAYLIST -->
	<div id="my_playlists" class="clearfix">
		My playlists:
		<%= render :partial => "playlist", :collection => @my_playlists %>
	</div>
	
	<div id="friend_list" class="clearfix">
		Friends' playlists:
		<%= render :partial => "friend", :collection => @friends_in_app %>
	</div>
</div>
