<div id="content">
	<div id="header" class="clearfix">
		<div id="top_links">
		<ul class="top-navigation">
			<li><%= fb_name facebook_session.user.uid, :useyou => "false" %></li>  <li><%= fb_logout_link "Sign Out", "signin" %></li>
		</ul>	
		</div>
		<div id="logo">
			<%= image_tag "logo.png" %>
		</div>
	</div>
	<br/>
	<!-- ADD PLAYLIST -->
	<div id="new_playlist" class="clearfix">
		<div id="input_border">
			<div id="input_shaddow">
				<div id="input" contenteditable="true">
				</div>
			</div>
		</div>

		<% form_for :playlist, @new_playlist, :url => playlists_url, :html => {:id => "new_playlist_form"} do |f| %>
      <%= f.hidden_field :url %>
      <%= submit_tag 'Add Playlist', :onclick => "submitPlaylist();return false;" %>
    <% end %>

		<script>
			function submitPlaylist (){
				$("playlist_url").value = $("input").innerHTML;
				$("new_playlist_form").submit();
			}
		</script>

	</div>
	<br/>
	
	<div id="round_top">
	<div id="headline">My playlists:</div>
	<div id="my_playlists" class="clearfix">
		<%= render :partial => "playlist", :collection => @my_playlists %>
	</div></div>
	<div id="round_bottom"></div>
	
	<div id="round_top">		
	<div id="headline">Friends' playlists:</div>
	<div id="friends_list" class="clearfix">
		<div id="left_column" class="friend_column">
			<%= render :partial => "friend", :collection => @friends_in_left_col %>
		</div>
		<div id="right_column" class="friend_column">
			<%= render :partial => "friend", :collection => @friends_in_right_col %>
		</div>
	</div>
	</div>
	<div id="round_bottom"></div>
</div>
