
<link href="http://www.ourheartbeats.com/stylesheets/stylesheet.css" media="screen" rel="stylesheet" type="text/css" />

<!-- FACEBOOK USER INFO-->
<div id="content">
	<div id="header">
		<div id="top_links">
			<%= h facebook_session.user.name %> <%= fb_logout_link "Sign Out", "signin" %>
		</div>
		<div id="logo">
			<%= image_tag "logo.png" %>
		</div>
	</div>
	
	<!-- ADD PLAYLIST -->
	<div id="new_playlist">
		<% form_for :playlist, @new_playlist, :url => playlists_url do |f| %>
      <%= f.text_field :url %>
      <%= submit_tag 'Add Playlist' %>
    <% end %>
	</div>
	
	<br/><br/>

	<!-- SHOW PLAYLIST -->
	<div id="my_playlists">
		My playlists:
		<%= render :partial => "playlist", :collection => @my_playlists %>
	</div>
	<br/>
	<br/>
	<div id="friend_list">
		Friends' playlists:
		<%= render :partial => "friend", :collection => @friends_in_app %>
	</div>
</div>
