<div id="content">
	<div id="header" class="clearfix">
		<div id="top_links">
			<%= fb_name facebook_session.user.uid, :useyou => "false" %> <%= fb_logout_link "Sign Out", "signin" %>
		</div>
		<div id="logo">
			<%= image_tag "logo.png" %>
		</div>
	</div>
	
	<!-- ADD PLAYLIST -->
	<div id="new_playlist" class="clearfix">
		<% form_for :playlist, @new_playlist, :url => playlists_url, :id => "new_playlist_form" do |f| %>
      <%= f.text_field :url %>
      <%= submit_tag 'Add Playlist' %>
    <% end %>
	</div>

	<!-- SHOW PLAYLIST -->
	My playlists:
	<div id="my_playlists" class="clearfix">
		<%= render :partial => "playlist", :collection => @my_playlists %>
	</div>
	
	Friends' playlists:
	<div id="friends_list" class="clearfix">
		<%= render :partial => "friend", :collection => @friends_in_app %>
	</div>
</div>
