<div id="content">
<div id="username"><%= h facebook_session.user.name %></div>
<div id="logout"><%= fb_logout_link "Sign Out", "signin" %></div>

<div id="main_form" class="form">
<% form_tag "home/create" do %>
  <div id="input_playlist"><%= text_field_tag :url %></div>
  <div id="submit_playlist"><%= submit_tag "Add" %></div>
<% end %>
</div>

<div id="friends">
  <% @playlists.each do |playlist| %>
	<p>Spotify URI:	<a href="<%= playlist.url %>"><%= playlist.url_spotify %></a> 
	<%= link_to 'Destroy', playlist_delete_url(:id => playlist.id) %>
	</p>

 <% end %>	
	  
  <% @old_playlists.each do |friend, ps| %>
    <div class="friend">
      <div class="friend_pic"><%= fb_profile_pic friend, :size => :square %></div>
      <div class="friend_name"><%= h friend.name %></div>
    <% ps.each do |playlist| %><div class="playlist"><%= playlist.updated_at %>: <%= h playlist.url_spotify %></div><% end %>
    </div>
  <% end %>

</div>
</div>
