<div id="content">

<!-- Header & Top Navigation -->		
	<div id="header" class="clearfix">
				
		<div id="top-navigation">
			<ul class="navigation_list">
					<li>
						<%= link_to "Home", :action => "index" %> 
					</li>
					<li>
						<%= fb_name facebook_session.user.uid, :useyou => "false" %> 
					</li>
					<li>
						Settings
					</li>
					<li>
						<%= fb_logout_link "Sign Out", "signin" %>
					</li>
			</ul>				
		</div>
		
		
		<div id="logo">
			<%= link_to (image_tag "logo.png"), :action => "index" %>
		</div>
	</div>
	
<!-- Container: Add Playlist & Right Navigation -->		

	<div class="container_add_playlist_right_navigation">

<!-- Add Playlist -->
			<div id="new_playlist">

<!--				<div id="input_border">
					<div id="input_shaddow">
						<div id="input" contenteditable="true">
						</div>
					</div>
				</div>
-->
			 	<% form_for :playlist, @new_playlist, :url => playlists_url, :html => {:id => "new_playlist_form"} do |f| %>
					<%= f.text_field :url, :size => 56 %>
		 			<%= submit_tag '♫ Add Playlist' %>
				<% end %>	
						
						<small> For example: <span style="color:#0066CC;"> http://open.spotify.com/user/gus/playlist/4NlgJdeq17Niy</span> </small>
						<br/>
			</div>	





<!-- Right Navigation -->
		<div id="right-navigation">
			<a href="#">Your Feed</a><br />
			<a href="#">Latest Playlists</a><br />
			<a href="#">Popular Playlists</a><br />
			<a href="#">Notifications</a><br />
		</div>		
	</div>	



<!-- Container: Playlists & Suggestions -->		

<div class="container_playlist_suggestions">
	
		<div style="clear:both;" class="headline">
			Playlists:
		</div>
		
				<div id="friends_list" class="clearfix">
					<div id="left_column" class="friend_column">
						<%= render :partial => "friend", :collection => @friends_in_left_col %>
					</div>
					<div id="right_column" class="friend_column">
					<%= render :partial => "friend", :collection => @friends_in_right_col %>
					</div>
				</div>
</div>


<!-- Footer & Bottom Navigation -->		

	<div id="footer">
		<ul>
			<li>
				<a href="#">About Us</a>
			</li>
			<li>
				<a href="#">Help</a>
			</li>
			<li>
				<a href="#">Blog</a>
			</li>
			<li>
				<a href="#">Contact</a>
			</li>
			<li>
				<a href="#">Terms</a>
			</li>
			<li>
				<a href="#">Privacy</a>
			</li>
		</ul>
	
	<br />	
		<span style="font-size:9px;">© 2010 <a href="/about#about">Heartbeats</a> is made by <a 	href="http://www.twitter.com/kallus">Jonatan</a>, Joseph and <a href="http://www.twitter.com/gustaf">Gustaf</a>. 
	<br />

	</div>

</div>
