
<link href="http://www.ourheartbeats.com/stylesheets/stylesheet.css" media="screen" rel="stylesheet" type="text/css" />

<!-- FACEBOOK USER INFO-->
<div id="content">
	<div id="username + logout"><%= h facebook_session.user.name %> <%= fb_logout_link "Sign Out", "signin" %></div>

	<br/><br/>

	<!-- ADD PLAYLIST -->
	<div id="main_form" class="form">
		<% form_tag "home/create" do %>
		  <div id="input_playlist"><%= text_field_tag :url %></div>
		  <div id="submit_playlist"><%= submit_tag "Add Playlist" %></div>
		<% end %>
	</div>
	<br/><br/>

	<!-- SHOW PLAYLIST -->
	<div id="my_playlists">
		My playlists:
		<% @my_playlists.each do |playlist| %>
			<div class="playlist"><%= playlist.updated_at %>: <%= h playlist.url_spotify %></div>
			<div><%= link_to 'Delete', :controller  => 'home', :action  => 'delete', :id => playlist.id %></div>
		<% end %>
	</div>
	<br/>
	<br/>
	<div id="friends">
		Friends' playlists:
		<% @friends_in_app.each do |friend| %>
			<div class="friend">
				<div class="friend_pic"><%= fb_profile_pic friend.uid, :size => :square %></div>
	      <div class="friend_name"><%= fb_name friend.uid %></div>
				<% friend.playlists.each do |playlist| %>
					<div class="playlist"><%= playlist.updated_at %>: <%= h playlist.url_spotify %></div>
					<div><%= link_to 'Delete', :controller  => 'home', :action  => 'delete', :id => playlist.id %></div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
