<div id="content">

<!-- Header & Top Navigation -->		
	<div id="header" class="clearfix">
				
		<div id="top-navigation">
			<ul class="navigation_list">
					<li>
						<%= link_to "Home", :action => "index" %> 
					</li>
					<li>
                                        <%= link_to fb_name(facebook_session.user.uid, {:useyou => "false", :linked => "false"}), @user %> 
					</li>
					<li>
						Settings
					</li>
					<li>
						<%= fb_logout_link "Sign Out", "signin" %>
					</li>
			</ul>				
		</div>
		
		
		<div id="logo">
			<%= link_to (image_tag "logo.png"), :action => "index" %>
		</div>
	</div>
	
<!-- Container: Add Playlist & Right Navigation -->		

	<div class="container_add_playlist_right_navigation">

<!-- Add Playlist -->
			<div id="new_playlist">

<!--				<div id="input_border">
					<div id="input_shaddow">
						<div id="input" contenteditable="true">
						</div>
					</div>
				</div>
-->
		<script type="text/javascript">
		function submitform()
		{
		    document.forms["new_playlist_form"].submit();
		}
		</script>
			
			 	<% form_for :playlist, @new_playlist, :url => playlists_url, :html => {:id => "new_playlist_form"} do |f| %>
					<%= f.text_field :url, :size => 56 %>
					<a href="javascript: submitform()" class="button"><span style="color: green;">♫ </span> Add Playlist</a>
				<% end %>

		
						
						<small>Example: <span style="color:#0066CC;"> http://open.spotify.com/user/gus/playlist/4NlgJdeq17Niy</span> </small>
						<br/>
			</div>	





<!-- Right Navigation -->
		<div id="right-navigation">
			Your Feed<br />
			Latest Playlists<br />
			Popular Playlists<br />
			Notifications<br />
		</div>		
	</div>	



<!-- Container: Playlists & Suggestions -->		

<div class="container_playlist_suggestions">
	
		<div style="clear:both;" class="headline">
			Playlists:
		</div>
		
                <%= render :partial => "friends_list" %>
</div>


<!-- Footer & Bottom Navigation -->		

	<div id="footer">
		<ul>
			<li>
				About Us
			</li>
			<li>
				Help
			</li>
			<li>
				Blog
			</li>
			<li>
				Contact
			</li>
			<li>
				Terms
			</li>
			<li>
				Privacy
			</li>
		</ul>
	
	<br />	
		<span style="font-size:9px;">© 2010 <a href="/about#about">Heartbeats</a> is made by <a 	href="http://www.twitter.com/kallus">Jonatan</a>, Joseph and <a href="http://www.twitter.com/gustaf">Gustaf</a>. 
	<br />

	</div>

</div>
