
<div class="footer wrapper">

	<div id="footer_left" class="footer">
	
		<ul>
			<li>
				© 2010 <%= link_to "Heartbeats", "/home/aboutus" %>
			</li>
		</ul>
	</div>
	
	<div id="footer_right" class="footer">
	
		<ul>
			<li>
				<%= link_to "About Us", "/home/aboutus" %>
			</li>
			<li>
				<%= link_to "Help", "/home/help" %>
			</li>
			<li>
				<a href="http://heartb.tumblr.com">Blog</a>
			</li>
			<li>
				<%= link_to "Contact", "/home/contact" %>
			</li>
			<li>
			   	<%= link_to "Terms", "/home/terms" %>
			</li>
			<li>
				<%= link_to "Privacy", "/home/privacy" %>
			</li>
		</ul>
	</div>
	
</div>
